dist/*
dist/
dist
build/*
build/
build
mxgames.egg-info/*
mxgames.egg-info/
mxgames.egg-info
*.egg-info/*
*.egg-info/
*.egg-info
test
tesr/
test/*
mxgames/__pycache__/*
mxgames/__pycache__/
mxgames/__pycache__
mxgames/__pycache__/*.pyc
*.pyc
